.introContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.introContainer h1 {
    font-size: 6em;
    letter-spacing: 8px;
    color: white;
    text-align: center;
}

.introContainer h2 {
    font-size: 3em;
    letter-spacing: 4px;
    color: white;
}

.icons {
    display: none;
}

.linkContainer {
    width: 300px;
    text-align: center;
}

.linkContainer a {
    color: rgb(250, 198, 87);
    margin: 0 20px;
}

.linkContainer a:hover {
    color: white;
}

