.introContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.introContainer h1 {
    font-size: 4em;
    letter-spacing: 4px;
}

.linkContainer {
    width: 300px;
    text-align: center;
}

.linkContainer a {
    font-size: 1em;
    font-weight: 700;
    margin: 0 10px;
}