.aboutContainer {
    height: 100%;
    /* overflow: auto; */
}

.contentContainer {
    background: rgba(211, 211, 211, 0.589);
    width: 95%;
    height: 93vh;
    padding: 20px;
    margin: auto;
    overflow: auto;
    
}

.contentContainer h2 {
    text-align: center;
    font-size: 2em;
    letter-spacing: 2px;
}

.contentContainer p {
    font-size: 1.2em;
    font-weight: normal;
    letter-spacing: 1px;
    font-family: sans-serif;
    color: rgb(54, 54, 54);
}

.contentContainer img {
    max-width: 100%;
    height: 400px;
    display: block;
    margin: auto;
    border: none;
    margin-bottom: 5px;
}
