.aboutContainer {
    height: 100%;
}

.contentContainer {
    background: rgba(211, 211, 211, 0.589);
    max-width: 80%;
    height: 93vh;
    padding: 20px;
    margin: auto;
    overflow: auto;
    
}

.contentContainer h2 {
    text-align: center;
    font-size: 2em;
    letter-spacing: 2px;
}

.contentContainer p {
    font-size: 1.2em;
    font-weight: normal;
    letter-spacing: 1px;
    font-family: sans-serif;
    color: rgb(54, 54, 54);
}

.contentContainer img {
    max-width: 100%;
    height: 200px;
    display: block;
    margin: 0 auto;
    border: none;
    padding: 10px;
    word-wrap: normal;
    display: inline;
    /* float: left; */
}

#headshot {
    float: left;
}

#racing {
    float: right;
}

#alyeska {
    float: left;
}

@media screen and (max-width:600px) {
    .aboutContainer {
       max-width: 99%;
    }
    .contentContainer {
        max-width: 100%;
    }
    .contentContainer img {
        word-wrap: none;
        width: 100%;
        height: auto;
    }
}
