.appContainer {
  background: url('../src/background.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas: 
    'header' 
    'main'
  ;
  grid-template-columns: 1fr;
  grid-template-rows: 8vh 1fr;
  overflow: hidden;
}

.mainHeader {
  grid-area: header;
  
}

.main {
  grid-area: main;
  
}

/* @media screen and (max-width:600px) {
  .appContainer {
    grid-template-areas: 
    'header'
    'main'
  ;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr;
  }
  .mainHeader {
   
  }
} */