.container {
  background: rgb(255, 255, 255);
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas: 
    'aside main'
  ;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 1fr;
}

.aside {
  grid-area: aside;
  float: left;
  height: 100%;
  
  background: lightgrey;
  
}

.main {
  grid-area: main;
  height: 100%;
}

@media screen and (max-width:600px) {
  .container {
    grid-template-areas: 
    'aside'
    'main'
  ;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 1fr;
  }
  .aside {
    width: 100%;
    height: auto;
  }
}