.header {
    display: grid;
    grid-template-areas: 'logo'
                         'nav';
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 1fr ;
    background: red;
}

.logo {
    grid-area: logo;
    margin: 20px 30px;
    font-size: 4em;
    
}

.nav {
    grid-area: nav;
    position: relative;
    top: 15%;
    /* display: flex;
    flex-direction: column;
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 20px;
    justify-content: center;
    align-items: center; */
    /* justify-items: center; */
    /* background: red; */
    height: 100vh;
    
    
    /* align-items: center;
    justify-content: space-evenly;
    height: 30vh; */
}

 .link {
    margin: 10px 0; 
    font-size: 2em;
    width: 100%;
    
}

.navLink {
    display: block;
    /* background: blue; */
    width: 100%;
    padding: 10px;
    color: black;
}
.navLink:hover{
    color: white;
}

.active {
    background: white;
}
.active:hover {
    color: red;
}

.burger {
    display: none;
    background: red;
    border: none;
}

.burger:hover {
    background: red;
}


@media screen and (max-width:600px) {
    .header {
        grid-template-areas: 'logo burger' 'nav nav';
        grid-template-columns: 1fr;
        grid-template-rows: 60px 1fr;
        
        width: 100%;
        
    }
    .nav {
        grid-area: nav;
        grid-template-rows: repeat(3, auto);
        grid-template-columns: none;
        
        z-index: 1;
        background: rgb(128, 128, 128);
        
        top: 0;
        height: 100%;
    
    }
    .burger{
        grid-area: burger;
        display: block;
        display: relative;
        right: 0;
        position: fixed;
        margin-right: 10px;
        margin-top: 5px;
    }
    .navLink {
        text-align: center;
    }
    .logo {
        grid-area: logo;
        /* margin: 10px 5px; */
        position: fixed;
    }
}
