.link-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 30vh;
}

.link {
    font-size: 2em;
    display: block;
}

.active {
    background: white;
    
    /* padding: 5px 0; */
}