.card-front {
    background: rgba(255, 255, 255, 0.466);
    width: 400px;
    height: 450px;
    border: 2px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    color:black;
}

.flip-card {
    background-color: transparent;
    width: 355px;
    height: 450px;
    perspective: 1000px;
    letter-spacing: 2px;
    font-family: sans-serif;
}
.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
}
/* .flip-card:hover .card-inner  {
    transform: rotateY(180deg);
} */
.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
.card-back {
    background-color: rgba(255, 255, 255, 0.466);
    color: black;
    transform: rotateY(180deg);
    border: 2px solid black;
}
.back-content {
    margin: 10px 5px;;
}
.back-content p {
    text-align: left;
}

.card-front:hover {
    box-shadow: 0 0 10px 2px hsla(0,0%,100%,.5);
  }

img {
    border: 2px solid white;
    max-width: 300px;
    height: 200px;
    object-fit: cover;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    font-weight: 600;
}

.title {

}

.tagline {
    text-align: center;
}

.flipButton {
    /* background: rgba(101, 205, 240, 0.425); */
    font-weight: 600;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid black;
}

button:hover {
    background-color: black;
    color: white;
}

.techUsed {

}

.linksContainer a {
    padding: 5px;
    font-weight: 700;
    letter-spacing: .6px;
}

.linksContainer a:hover {
    color: black;
    text-decoration: underline;
}
